@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// colors
:root{
    --main-background: #7a7878;
    --darker-backgroud: #696868;
    --non-white: #dedada;
}


*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Share Tech Mono;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--main-background)
}

section{
    width: 80%;
    margin: auto;
}

// header
.logo{
    text-align: center;
    font-size: large;
}

.menu{
    background-color: var(--darker-backgroud);
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    padding: 2rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu div:hover{
    cursor: pointer;
    color: var(--non-white);
}

.menu input{
    background-color: var(--non-white);
}

// main
.part-container{
    background-color: var(--darker-backgroud);
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
    padding: 0.1rem 2.5rem;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.part-container:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.part-container-header{
    font-size: larger;
}

// footer
footer{
    display: flex;
    justify-content: center;
}

.credits{
    font-size: smaller;
    color: var(--darker-backgroud);
    margin-bottom: 0.5rem;
}